<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("includes/head") %>
  </head>
  <body>
    <%- include("includes/header")%> <%- include("includes/aside")%>
    <main>
      <h1>something went wrong serverside !!</h1>
    </main>
  </body>
</html>